/* Estilos generales */
html,
body {
    height: 100%;
    /* Asegura que el body ocupe el 100% de la altura de la ventana */
    margin: 0;
    /* Elimina el margen predeterminado del body */
}

body {
    display: flex;
    flex-direction: column;
    /* Organiza el contenido en columnas */
}

/* Espacio para el main */
main {
    flex: 1;
    /* Permite que el main ocupe el espacio restante */
}

/* Estilo para el footer */
footer {

    /* Color de fondo del footer */
    color: white;
    /* Color del texto del footer */
    text-align: center;
    /* Centrar el texto */
    padding: 1rem;
    /* Espaciado interno del footer */
    margin-top: auto;
    /* Empuja el footer hacia abajo */
}