<!-- footer.html -->
<footer class="bg-dark text-white mt-5">
    <div class="container-fluid p-3"> <!-- Cambiado a container-fluid para extender el contenido -->
        <div class="row">
            <div class="col-md-4 mb-2"> <!-- Agregado un margen inferior para un mejor espaciado -->
                <h5>Sobre Nosotros</h5>
                <p class="mb-0">Somos una tienda virtual dedicada a la venta de vehículos de alta calidad. Nuestro
                    compromiso es ofrecer las mejores opciones para nuestros clientes, garantizando la satisfacción en
                    cada compra.</p>
            </div>
            <div class="col-md-4 mb-2">
                <h5>Información de Contacto</h5>
                <ul class="list-unstyled mb-0">
                    <li><i class="bi bi-geo-alt"></i> Dirección: Calle Ejemplo 123, Ciudad, País</li>
                    <li><i class="bi bi-telephone"></i> Teléfono: (123) 456-7890</li>
                    <li><i class="bi bi-envelope"></i> Email: info@vehiculos.com</li>
                </ul>
            </div>
            <div class="col-md-4 mb-2">
                <h5>Síguenos</h5>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="bi bi-facebook"></i> Facebook</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="bi bi-twitter"></i> Twitter</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="bi bi-instagram"></i> Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center">
            <p class="mb-0">&copy; 2024 Venta Virtual de Vehículos. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>

<!-- Agregar Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">