<nav class="navbar navbar-expand-lg bg-dark text-white">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'index' %}">Vehículos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto"> <!-- Agregado me-auto para alinear a la izquierda -->
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'add_vehiculos' %}">Agregar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'vehiculos_list' %}">Listar</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <span class="navbar-text me-2">Hola, {{ user.username }}!</span> <!-- Saludo personalizado -->
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-light">Cerrar Sesión</button>
            </form>
            {% else %}
            <a class="btn btn-outline-light" href="{% url 'login' %}">Iniciar Sesión</a>
            <a class="btn btn-outline-light ms-2" href="{% url 'registrar' %}">Registrarse</a>
            {% endif %}
        </div>
    </div>
</nav>