{% extends 'base.html' %}

{% block content %}



<div class="container">
    <h1 class="mt-5">Lista de Vehículos</h1>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Serial Carrocería</th>
                <th>Serial Motor</th>
                <th>Categoría</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
            <tr>
                <td>{{ vehiculo.marca }}</td>
                <td>{{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.serial_carroceria }}</td>
                <td>{{ vehiculo.serial_motor }}</td>
                <td>{{ vehiculo.categoria }}</td>
                <td>${{ vehiculo.precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}